@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$primary-color: #1b1f20;
$secondary-color: #9e9898;
// $secondary-color: #f4f4f4;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  background-color: $primary-color;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: $secondary-color;
}

.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

  &.center {
    align-items: center;
    justify-content: center;
  }
}

.single-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
  text-align: left;

  h2 {
    text-align: left !important;
  }

  img {
    width: 100%;
  }

  li,
  ul {
    list-style: none;
    padding: 0;
  }
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 22px;
  gap: 9px;

  .movie {
    background-color: rgba(214, 198, 198, 0.075);
    border-radius: 10px;
    box-shadow: $box-shadow;
    padding: 50px 20px;
    text-align: center;
    flex: 1 1 100%;
    max-width: 400px;

    img {
      margin-bottom: 20px;
    }

    a {
      margin-top: auto;
      text-decoration: none;
    }
  }

  @media (min-width: 600px) {
    .movie {
      flex-basis: calc(50% - 20px);
    }
  }

  @media (min-width: 960px) {
    .movie {
      flex-basis: calc(33.33% - 20px);
    }
  }

  @media (min-width: 1280px) {
    .movie {
      flex-basis: calc(25% - 20px);
    }
  }
}

h3 {
  margin: 0;
  letter-spacing: 2px;
}

.btn {
  background-color: $secondary-color;
  color: $primary-color;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 9px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
  &.secondary {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.form-control {
  text-align: center;
  width: 70%;
  min-width: 400px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.mb {
  margin-bottom: 20px;
}
